.theme-light{
    --color-contents: #2980b9;
    --color-lowest: #edf0f2;
    --color-primary: #404040;
    --color-bg: #fcfcfc;
    --color-quote-bg: #f0f0f0;
    --color-border-l: #cccccc;
    --color-media-bg: #0000000c;
    --color-sat: #ffffff;
    --color-nil: #000000;
    --color-border: #e1e4e5;
    --color-codeblock-example-after-bg: #9B59B6;
    --color-example-bg: #f3f6f6;
    --color-ins-bg: #ff9;
    --color-mark-bg: #ff0;
    --color-fa-border: #eee;
    --color-danger-bg: #fdf3f2;
    --color-wyalert-bg: #ffedcc;
    --color-content-seealso-bg: #e7f2fa;
    --color-content-tip-bg: #1abc9c;
    --color-content-imp-bg: #dbfaf4;
    --color-content-note-bg: #6ab0de;
    --color-content-warn-bg: #f0b37e;
    --color-content-error-bg: #f29f97;
    --color-label: #333;
    --color-link-hover: #3091d1;
    --color-table-current-bg:#e3e3e3;
    --color-table-border: #c9c9c9;
    --color-table-hover: #d6d6d6;
    --color-toc: #2980b9;
    --color-toc-link: #b3b3b3;
    --color-toc-link-hover: #4e4a4a;
    --color-toc-bg: #4e4a4a;
    --color-toc-scroll-base: #1f1d1d;
    --color-copyright-bg: #272525;
    --color-copyright: #27AE60;
    --color-content-hl: #F1C40F;
    --color-footer: #999;
    --color-wait-bg: #6AB097;
    --color-tag-span-bg:     #EDEDED;
    --color-tag-span: #939393;
    --color-flagged: #db2d27;
    --color-navy: #000080;
    --color-inlinetask-border: #FFEB8E;
    --color-inlinetask-bg:    #FFF9E3;
}
